
#cal_table {
    border-collapse: collapse;
    width: 250px;
    margin: 10px;
    font-size:small;
}
th{
    background-color:cyan;  
}
th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 2px;
    width: 10%;
    height: 20px;
}
.today {
    background-color: #ffeb3b; /* yellow */
}
.event {
    background-color: #90caf9; /* light blue */
}
.meeting {
    background-color: #a5d6a7; /* light green */
}
.link-bar {
    margin:10px 0px;
}
.link-bar a {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.link-bar a:hover{
    text-decoration: underline;
    background-color: none;
}
.cal_button {
    padding: 5px 10px;
    margin: 5px;
}
.cal_select {
    padding: 5px;
    margin: 5px;
}


@media only screen and (max-width:400px){
    #cal_table{
        font-size: small;
    }
    .cal_button {
        padding: 2px 3px;
        margin: 2px;
        font-size: smaller;
        
    }
    .link-bar {
        margin:2px 0px;
        font-size: smaller;
    }
    .cal_select {
        padding: 2px;
        margin: 2px;
        font-size: smaller;
    }
}

@media only screen and (min-width:768px){
    .calendar{
        display: flex;
        justify-content: center;
        
    }
    .link-bar{
        display: flex;
        flex-direction: column;
        gap:10px;
        margin: 10px 0px;
        
    }
    .cal_button,.cal_select{
        padding: 5px;
    }
    
}